.other-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.other-title h1{
    font-size: 40px;
    font-family: Oswald;
    letter-spacing: 5px;
    color: #888;
    text-align: center;
}