
section .title{
    background-image:url('./images/woodentable.jpg');
    background-color: #08256a ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    padding: 60px 0;
    margin-bottom: 30px;
    // linear-gradient(rgba(46, 138, 251, 0.664), rgba(46, 138, 251, 0.664), rgba(46, 138, 251, 0.667), rgba(46, 138, 251, 0.667)),
}
.main-dir{
    font-size: 25px;
    margin-top: 15px;
}
.direction{
    margin-top: 10px;
}
.bizkimik{
    font-size: 50px;
    display: flex;
    margin-left: 10rem;
    font-size: 20px;
}
.about{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}
.about-content{
    width: 50%;
    font-size: 16px;

}
p{
    font-family: Roboto;
    line-height: 25.2px;
    font-weight: 400;
}
.about-list{
    font-style:italic;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
}
.about-title{
letter-spacing: 2px;
font-size: 66px  ;
font-family: Oswald;
letter-spacing: 8px;
font-weight: 700;
color: white;
}
.about{
    margin-top: 100px;
}
.bizkimik{
    font-size: 50px;
    display: flex;
    margin-left: 10rem;
}


// RESPONSIVE DESIGN
/* SMARTPHONES */
  @media(max-width:1441px){
        section .title{
        background-color: #08256a ;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        padding: 60px 0;
        margin-bottom: 30px;
    }
    .about-title{
        letter-spacing: 2px;
        font-size: 70px;
        font-family: Oswald;
        letter-spacing: 10px;
        font-weight: 700;
        }

    // BIZ KIMIK
    .bizkimik{
        display: flex;
        font-size: 60px;
    }
    .about{
        object-fit: contain;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    .about-content{
        // width: 100%;
        padding: 0 5px;
    }
    .about-list :last-child{
        width: 100%;
    }
    .main-dir{
        font-size: 15px;
        margin-top: 15px;
    }
    }
    
 @media(max-width:1025px){
        section .title{
            background-color: #08256a ;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            width: 100%;
            padding: 60px 0;
            margin-bottom: 30px;
        }
        .about-title{
            letter-spacing: 2px;
            font-size: 70px;
            font-family: Oswald;
            letter-spacing: 10px;
            font-weight: 700;
            }
    
        // BIZ KIMIK
        .bizkimik{
            display: flex;
            font-size: 60px;
        }
        .about{
            object-fit: contain;
            align-items: center;
            justify-content: center;
            gap: 100px;
            font-size: 16px;
    
        }
        .about-content{
            padding: 0 20px;
        }
        .about-list :last-child{
            width: 100%;
        }
        .main-dir{
            font-size: 15px;
            margin-top: 15px;
        }
    }
    
  @media(max-width:836px){
    section .title{
        background-color: #08256a ;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        padding: 60px 0;
        margin-bottom: 30px;
    }
    .about-title{
        letter-spacing: 2px;
        font-size: 70px;
        font-family: Oswald;
        letter-spacing: 10px;
        font-weight: 700;
        }

    // BIZ KIMIK
    .bizkimik{
        display: flex;
        margin-left: 4rem;
        font-size: 50px;
    }
    .about{
        object-fit: contain;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        font-size: 16px;

    }
    .about-content{
        width: 100%;
        padding: 0 20px;
    }
    .about-list :last-child{
        width: 100%;
    }
    .main-dir{
        font-size: 15px;
        margin-top: 15px;
    }
    }
    
  @media(max-width:769px){
        section .title{
            background-color: #08256a ;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            width: 100%;
            padding: 60px 0;
            margin-bottom: 30px;
        }
        .about-title{
            letter-spacing: 2px;
            font-size: 70px;
            font-family: Oswald;
            letter-spacing: 10px;
            font-weight: 700;
                }
    
        // BIZ KIMIK
        .bizkimik{
            display: flex;
            margin-left: 4rem;
            font-size: 50px;
        }
        .about{
            object-fit: contain;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;
            font-size: 16px;
    
        }
        .about-content{
            width: 100%;
            padding: 0 20px;
        }
        .about-list :last-child{
            width: 100%;
        }
        .main-dir{
            font-size: 15px;
            margin-top: 15px;
        }
    }
    
  @media(max-width:471px){
    section .title{
        background-color: #08256a ;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        padding: 60px 0;
        margin-bottom: 30px;
    }
    .about-title{
        letter-spacing: 2px;
        font-size: 60px;
        font-family: Oswald;
        letter-spacing: 10px;
        font-weight: 700;
        }

    // BIZ KIMIK
    .bizkimik{
        display: flex;
        font-size: 50px;
    }
    .about{
        object-fit: contain;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 100px;
        font-size: 16px;

    }
    .about-content{
        width: 100%;
        padding: 0 20px;
    }
    .about-list :last-child{
        width: 100%;
    }
    .main-dir{
        font-size: 15px;
        margin-top: 15px;
    }
  
    }
    
  @media(max-width:426px){
        section .title{
            background-color: #08256a ;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            width: 100%;
            padding: 60px 0;
            margin-bottom: 30px;
        }
        .about-title{
            letter-spacing: 2px;
            font-size: 50px;
            font-family: Oswald;
            letter-spacing: 10px;
            font-weight: 700;
                }
    
        // BIZ KIMIK
        .bizkimik{
            display: flex;
            font-size: 50px;
        }
        .about{
            object-fit: contain;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;
            font-size: 16px;
    
        }
        .about-content{
            width: 100%;
            padding: 0 20px;
        }
        .about-list :last-child{
            width: 100%;
        }
        .main-dir{
            font-size: 15px;
            margin-top: 15px;
        }
    }
    
  @media(max-width:376px){
        section .title{
            background-color: #08256a ;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            color: white;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            width: 100%;
            padding: 60px 0;
            margin-bottom: 30px;
        }
        .about-title{
            letter-spacing: 2px;
            font-size: 50px;
            font-family: Oswald;
            letter-spacing: 10px;
            font-weight: 700;
                }
    
        // BIZ KIMIK
        .bizkimik{
            display: flex;
            font-size: 50px;
        }
        .about{
            object-fit: contain;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;
            font-size: 16px;
    
        }
        .about-content{
            width: 100%;
            padding: 0 20px;
        }
        .about-list :last-child{
            width: 100%;
        }
        .main-dir{
            font-size: 15px;
            margin-top: 15px;
        }
    }
    
  @media(max-width:321px){

        // ABOUT PAGE TITLE
        section .title{
            background-color: #08256a ;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            color: white;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            width: 100%;
            padding: 60px 0;
            margin-bottom: 30px;
        }
        .about-title{
            letter-spacing: 2px;
            font-size: 50px;
            font-family: Oswald;
            letter-spacing: 5px;
            font-weight: 700;
                }
    
        // BIZ KIMIK
        .bizkimik{
            display: flex;
            font-size: 40px;
        }
        .about{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;
            font-size: 16px;
            width: 100%;
        }
        .about-content{
            width: 100%;
            padding: 0 20px;
        }
        .about-list :last-child{
            width:100%;
        }
    
    }
    
  @media(max-width:281px){
          // ABOUT PAGE TITLE
          section .title{
            background-color: #08256a ;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            display: flex;
            color: white;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;
            width: 100%;
            padding: 60px 0;
            margin-bottom: 30px;
        }
        .about-title{
            letter-spacing: 2px;
            font-size: 40px;
            font-family: Oswald;
            letter-spacing: 5px;
            font-weight: 700;
                }
    
        // BIZ KIMIK
        .bizkimik{
            display: flex;
            font-size: 40px;
        }
        .about{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 100px;
            font-size: 16px;
            width: 100%;
        }
        .about-content{
            width: 90%;
            padding:0;
        }
        .about-list :last-child{
            width:100%;
        }
    }
    
    