.turvar-logo{
    width: 40%;
    display: flex;
    margin: 0 auto;
    // margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 00px;
}



// RESPONSIVES
//  DESTKOP && LAPTOPS
@media(max-width:3840px) {

}

@media(max-width:2560px) {
    
}

@media(max-width:1920px) {

}
// SMARTPHONES

@media(max-width:1441px) {

}

@media(max-width:1242px) {

}

@media(max-width:1080px) {

}

@media(max-width:1025px){

}

@media(max-width:835px) {

}

@media(max-width:751px) {

}

@media(max-width:641px) {

}

@media(max-width:471px){

}

@media(max-width:426px){

}

@media(max-width:376px){

}

@media(max-width:321px){
    .turvar-logo{
        width: 100%;
        display: flex;
        margin: 0 auto;
        // margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 00px;
    }
    
}