.prod-logo{
    width: 20%;
    display: flex;
    margin: 0 auto;
    // margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ekin-card{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 19rem;
    height: 45vh;
    border-radius: 30px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    color: #A3A3A3;
    // z-index: -1;

}

.ekin-prod{
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.prod-name{
    display: flex;
    // margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Roboto;
    letter-spacing: 0.5px;
    font-weight: 600;
    line-height: 32px;
    padding: 0 10px 0 10px;
}
.ekin-card:hover{
    color: orange;
}





// RESPONSIVES
//  DESTKOP && LAPTOPS
@media(max-width:3841px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width:40rem;
        height: 45vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 75px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 82px;
        padding: 0 10px 0 10px;
    }
    .prod-logo{
        width: 25%;
        display: flex;
        margin: 0 auto;
        // margin-left: 100px;
    }
}

@media(max-width:2561px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 35rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 55px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 52px;
        padding: 0 10px 0 10px;
    }
    .prod-logo{
        width: 40%;
        display: flex;
        margin: 0 auto;
        // margin-left: 100px;
    }
}

@media(max-width:1921px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 45vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
    .prod-logo{
        width: 20%;
        display: flex;
        margin: 0 auto;
        // margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
// SMARTPHONES

@media(max-width:1441px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:1243px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:1081px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:1025px){
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:836px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:751px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:641px) {
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:471px){
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:426px){
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:376px){
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 19rem;
        height: 60vh;
        border-radius: 30px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    
    .ekin-prod{
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .prod-name{
        display: flex;
        // margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-family: Roboto;
        letter-spacing: 0.5px;
        font-weight: 600;
        line-height: 32px;
        padding: 0 10px 0 10px;
    }
}

@media(max-width:321px){
    .prod-logo{
        width: 90%;
        display: flex;
        margin: 0 auto;
        // margin-left: 100px;
    }

}

@media(max-width:281px){
    .ekin-card{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        width: 17rem;
        height: 60vh;
        overflow: hidden;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        color: #A3A3A3;
        // z-index: -1;
    
    }
    .prod-logo{
        width: 90%;
        display: flex;
        margin: 0 auto;
        // margin-left: 100px;
    }
}















