.project-title{
    background-image:url('./images/projectsbg.jpg');
    background-color: #08256a ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    height: 30vh;
    margin-bottom: 30px;
    object-fit: contain;
    // linear-gradient(rgba(46, 138, 251, 0.664), rgba(46, 138, 251, 0.664), rgba(46, 138, 251, 0.667), rgba(46, 138, 251, 0.667)),
}
.project-title h1{
    font-family: Oswald;
    letter-spacing: 8px;
    font-size: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    // color: black;
}
.project-content{
    font-family: Roboto;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(70,70,70);
    width: 53rem;
    display: flex;
    margin: 70px auto;
    text-align: center;
}
.project-image{
    width: 40rem;
    display: flex;
    align-items: center;
}
.projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.projects-content{
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects-content  h4{
    font-family: Roboto;
    line-height: 22.4px;
    font-weight: 400;
    color: #08256a;
}

.projects-content  h1{
    font-size: 26px;
    font-family: Roboto;
    line-height: 33.8px;
    font-weight: 500;
    text-transform: uppercase;
}

.projects-content  p{
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 26px;
    color: #999999;
}

.all-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 100px;
}





// RESPONSIVES
//  DESTKOP && LAPTOPS
@media(max-width:3841px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 22px;
        font-size: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        font-family: Roboto;
        font-size: 100px;
        line-height: 108px;
        font-weight: 400;
        color: rgba(70,70,70);
        // width: 50%;
        display: flex;
        margin: 70px auto;
        text-align: center;
        width: 85%;
    }

    .projects-content{
        width: 43%;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .projects-content  h1{
        font-size: 86px;
        font-family: Roboto;
        line-height: 83.8px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .projects-content  h4{
        font-size: 55px;
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }

    .projects-content  p{
        font-size: 70px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 86px;
        color: #999999;
    }
    .project-image{
        width: 95rem;
        display: flex;
        align-items: center;
    }

    #project-3 h1 {
        width: 100%;
    }
    
    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:2561px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 12px;
        font-size: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        font-family: Roboto;
        font-size: 50px;
        line-height: 58px;
        font-weight: 400;
        color: rgba(70,70,70);
        // width: 50%;
        display: flex;
        margin: 70px auto;
        text-align: center;
        width: 85%;
    }

    .projects-content{
        width: 33%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .projects-content  h1{
        font-size: 56px;
        font-family: Roboto;
        line-height: 53.8px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .projects-content  h4{
        font-size: 35px;
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }

    .projects-content  p{
        font-size: 40px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 66px;
        color: #999999;
    }
    .project-image{
        width: 65rem;
        display: flex;
        align-items: center;
    }

    #project-3 h1 {
        width: 100%;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:1921px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 8px;
        font-size: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        font-family: Roboto;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: rgba(70,70,70);
        width: 55%;
        display: flex;
        margin: 70px auto;
        text-align: center;
    }

    .projects-content{
        width: 23%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .projects-content  h1{
        font-size: 26px;
        font-family: Roboto;
        line-height: 33.8px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .projects-content  h4{
        font-size: 16px;
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }

    .projects-content  p{
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
    }

    .project-image{
        width: 40rem;
        display: flex;
        align-items: center;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

// SMARTPHONES

@media(max-width:1441px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 9px;
        font-size: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 40%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 25px;
        text-transform: uppercase;

    }

    #project-3 h1 {
        width: 70%;
        margin:  0 auto;
    }


    #project-image-1{
        width: 40rem;
    }

    .projects-content  p{
        font-size: 22px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 70%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: row;
    }

    #project-2,#project-4,#project-6{
        flex-direction: row;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:1243px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 9px;
        font-size: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 40%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 22px;
        text-transform: uppercase;

    }

    #project-3 h1 {
        width: 70%;
        margin:  0 auto;
    }


    #project-image-1{
        width: 30rem;
    }

    .projects-content  p{
        font-size: 19px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: row;
    }

    #project-2,#project-4,#project-6{
        flex-direction: row;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:1081px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 6px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 20px;
        text-transform: uppercase;

    }

    #project-3 h1 {
        width: 70%;
        margin:  0 auto;
    }


    #project-image-1{
        width: 30rem;
    }

    .projects-content  p{
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: row;
    }

    #project-2,#project-4,#project-6{
        flex-direction: row;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:1025px){
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 6px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 60%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 22px;
        text-transform: uppercase;

    }

    .projects-content  h4{
        font-size: 18px;
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }

    #project-2 h1{
        width: 70%;
        margin: 0 auto;
    }

    #project-3 h1 {
        width: 70%;
        margin:  0 auto;
    }

    .project-image{
        width: 100%;
        object-fit: contain;
    }
    #project-image-1{
        width: 30rem;
    }

    .projects-content  p{
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        // flex-direction: column;
    }

    #project-2,#project-4,#project-6{
        // flex-direction: column-reverse;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:835px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 6px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 20px;
        text-transform: uppercase;

    }

    .projects-content  h4{
        font-size: 16px;
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }

    #project-3 h1 {
        width: 70%;
        margin:  0 auto;
    }


    #project-image-1{
        width: 30rem;
    }

    .projects-content  p{
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: row;
    }

    #project-2,#project-4,#project-6{
        flex-direction: row;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:751px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 6px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 22px;
        text-transform: uppercase;

    }

    .projects-content  h4{
        font-size: 16px;
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }
    

    .projects-content  h4{
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }
    

    #project-3 h1 {
        width: 70%;
        margin:  0 auto;
    }

    .project-image{
        width: 100%;
        object-fit: contain;
    }

    .projects-content  p{
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: column;
    }

    #project-2,#project-4,#project-6{
        flex-direction: column-reverse;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:641px) {
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 6px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 22px;
        text-transform: uppercase;

    }

    .projects-content  h4{
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }
    
    .project-image{
        width: 100%;
    }

    .projects-content  p{
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: column;
    }

    #project-2,#project-4,#project-6{
        flex-direction: column-reverse;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:471px){
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 6px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 22px;
        text-transform: uppercase;

    }

    .projects-content  h4{
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }
    
    .project-image{
        width: 100%;
    }

    .projects-content  p{
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: column;
    }

    #project-2,#project-4,#project-6{
        flex-direction: column-reverse;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:426px){
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 6px;
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 22px;
        text-transform: uppercase;

    }

    .projects-content  h4{
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }
    
    .project-image{
        width: 100%;
    }

    .projects-content  p{
        font-size: 18px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: column;
    }

    #project-2,#project-4,#project-6{
        flex-direction: column-reverse;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:376px){
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 6px;
        font-size: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }

    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 20px;
        text-transform: uppercase;

    }

    .projects-content  h4{
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }
    
    .project-image{
        width: 100%;
    }

    .projects-content  p{
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: column;
    }

    #project-2,#project-4,#project-6{
        flex-direction: column-reverse;
    }

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}

@media(max-width:321px){
    .project-title h1{
        font-family: Oswald;
        letter-spacing: 4px;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        // color: black;
    }
    .project-content  {
        object-fit: contain;
        width:90%;
    }

    .projects-content{
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .projects-content  h4{
        font-family: Roboto;
        line-height: 22.4px;
        font-weight: 400;
        color: #08256a;
    }

    .projects-content h1{
        width: 100%;
        display: flex; 
        justify-content: center;     
        align-items: center;  
        flex-wrap: wrap;
        font-size: 20px;
        text-transform: uppercase;

    }

    .project-image{
        width: 100%;
    }

    .projects-content  p{
        font-size: 16px;
        font-family: Roboto;
        font-weight: 400;
        line-height: 26px;
        color: #999999;
        width: 80%;
        margin:  0 auto;
    }

    #project-1,#project-3,#project-5,#project-7{
        flex-direction: column;
    }
    #project-2,#project-4,#project-6{
        flex-direction: column-reverse;
    }
  

    #project-image-1,#project-image-3,#project-image-5,#project-image-7{
        display: flex;
    }

    #project-image-4,#project-image-6{
        display: flex;
    }
}







