

.slide-title{
    width: 100px;
    font-size: 43px;
    line-height: 53px;
    font-family: Roboto;
    font-weight: 700;
    padding-bottom: 20px;
}

.ltech-info{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-left:100px ;
    align-items: center;
    margin-bottom: 100px;
}

.fa-info{
    font-size: 60px;
    line-height: 50px;
    color: #0c41be;
    background-color: white;
    border-radius: 50%;
    padding: 25px;
    transition: 0.5s;
}

.info-title{
    font-family: Roboto;
    font-size: 18px;
    margin: 25px 0 0;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-content{
text-align: center;
width: 70%;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider-div{
    display: flex;
    justify-content: space-around;
    // align-items: center;
}
.map{
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    // margin: 0 auto;
}
.map-title{
    text-align: center;
    font-family: Roboto;
    color: #0C41BE;
    font-size: 22px;
    
}
.map-image{
    width: 110%;
    // height: 40rem;
    object-fit: contain;
}
.map-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    font-family: Roboto;
}
.map-div{
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100vh;
}
.map-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 25px;
}
.map-parent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

    /* RESPONSIVES */
    /* DESTKOP && LAPTOPS */
    @media(max-width:3841px) {

    }
      
  @media(max-width:2561px) {
  
    }
      
  @media(max-width:1921px) {
  
    }
  
      /* SMARTPHONES */
  @media(max-width:1441px) {
  
    }
    
  @media(max-width:1242px) {
  
    }
    
  @media(max-width:1080px) {
  
    }
    
  @media(max-width:1025px) {
  
    }
    
  @media(max-width:948px) {
    
    }
    
  @media(max-width:836px) {
  
    }
    
  @media(max-width:751px) {
  
    }
    
  @media(max-width:641px) {
  
    }
    
  @media(max-width:471px) {
  
    }
    
  @media(max-width:426px) {
  
    }
    
  @media(max-width:376px) {
  
    }
    
  @media(max-width:321px) {
  
    }
    
  @media(max-width:281px) {
  
    }
    
  





















@media(max-width:1154px){
    .map-parent{
        display: flex;
        flex-direction: column;
    }
    .map-content{
        width: 70%;
    }

}


@media(max-width:895){
    

.map-image{
    width: 100%;
    // height: 40rem;
    object-fit: contain;
}
}


@media(max-width:837px){

    .map-image{
        width: 80%;
        // height: 40rem;
        object-fit: contain;
    }
}

@media (max-width:470px) {
    .map-div{
        display: flex;
        flex-direction: column;
        transition: all 1s;
        }


}

