// BUTTONS


.wrapper{
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 50px;

}

.link_wrapper{
  position: relative;
}

.Link{
  
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background:#29335C;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #29335C;
  transition: all .35s;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

.Link:hover{
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.Link:hover + .icon{
  border: 3px solid #2ecc71;
  right: -25%;
}




.slide-title{
  width: 100px;
  font-size: 43px;
  line-height: 53px;
  font-family: Roboto;
  font-weight: 700;
  padding-bottom: 20px;
}

.ltech-info{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding-left:100px;
  padding-right: 100px;
  align-items: center;
  margin-bottom: 100px;
}

.fa-info{
  font-size: 60px;
  line-height: 50px;
  color: #29335C;
  // color: #0C41BE;
  // background-color: white;
  border-radius: 50%;
  border: 1px solid #29335C;
  padding: 25px;
  transition: 0.5s;
}

.info-title{
  font-family: Roboto;
  font-size: 18px;
  margin: 25px 0 0;
  font-weight: 600;
  margin-bottom: 20px;
}

.info-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 70%;
margin-top: 50px;

}

.grid{
  display: flex;
  justify-content: center;
  align-items: center;
}



// GENİS MEHSUL CESİDİ
.product-category{
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: Roboto;
  margin: 0 0 15px;
}
.product-category-txt{
  font-size: 21px;
  line-height: 35.7px;
  letter-spacing: 0.2px;
  margin: 25px 0px;
  font-weight: 100;
  font-family: Roboto;
}



.card-home{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 15rem;
  height: 250px;
  // margin-left: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reference-image-home{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 18px;
  object-fit: cover;
  display: flex;
  margin: 0 auto;

}
.card-title-home{
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
  text-align: center;
}
.card-txt-home{
  margin-top: -25px;
}
.div-grid-2{
  margin: 50px 0;
}
.all-products-1{
  font-size: 16px;
  color: white;
  background-color: #29335C;
  font-family: Roboto;
  letter-spacing: 0.2px;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 10px;
  // margin-top: 100px;
}

.all-products-2{
  font-size: 18px;
  color: white;
  background-color: #29335C;
  font-family: Roboto;
  letter-spacing: 0.2px;
  padding: 10px 40px;
  font-weight: 500;
  border-radius: 10px;
  // margin-top: 100px;
}





.slider-div{
  display: flex;
  justify-content: space-around;
  // align-items: center;
}
.map{
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.map-title{
  text-align: center;
  font-family: Roboto;
  color: #0C41BE;
  font-size: 22px;
  
}
.map-image{
  width: 100%;
  object-fit: contain;
}
.map-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
  font-family: Roboto;
}
.map-div{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.map-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 25px;
}
.main-map{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.map-parent{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}


  /* RESPONSIVES */
  /* DESTKOP && LAPTOPS */
    
@media(max-width:2561px) {
 // MAP
.map-title{
text-align: center;
font-family: Roboto;
color: #0C41BE;
font-size: 28px;
line-height: 42px;

}

               
.map-image{
width: 115%;
object-fit: contain;
}
.map-div{
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 50px 0;
gap: 50px;
}
  }
    
@media(max-width:1921px) { 
// MAP
.map-title{
 text-align: center;
 font-family: Roboto;
 color: #0C41BE;
 font-size: 28px;
 line-height: 42px;
 
}
.map-parent{
 display: flex;
 flex-direction: column;
}
.main-map{
display: flex;
flex-direction: row;
align-items: center;
object-fit: contain;
}

.map-content{
 width: 70%;
}
                
.map-image{
 width: 100%;
 object-fit: contain;
}
.map-div{
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 50px 0;
gap: 50px;
}
  }

    /* SMARTPHONES */
@media(max-width:1441px) {
  .map-title{
    text-align: center;
    font-family: Roboto;
    color: #0C41BE;
    font-size: 25px;
    
}
.map-image{
    width: 100%;
    object-fit: contain;
}
.map-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  }
  
@media(max-width:1242px) {
  .map-title{
    text-align: center;
    font-family: Roboto;
    color: #0C41BE;
    font-size: 25px;
    
}
.map-image{
    width: 100%;
    object-fit: contain;
}
.map-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  }
  
@media(max-width:1081px) {
                  // INFO
                  .ltech-info{
                    width: 100%;
                    margin-top: 100px;
                    display: flex;
                    justify-content: center;
                    padding-left:30%;
                    padding-right: 30%;
                    align-items: center;
                    margin-bottom: 100px;
                }
                
                .fa-info{
                    font-size: 60px;
                    line-height: 50px;
                    border-radius: 50%;
                    padding: 25px;
                    transition: 0.5s;
                }
                
                .info-title{
                    font-family: Roboto;
                    font-size: 24px;
                    margin: 25px 0 0;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                
                .info-content{
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  width: 100%;
                  font-size: 20px;
                }
              
              // MAP
              .map-title{
                text-align: center;
                font-family: Roboto;
                font-size: 28px;
                line-height: 42px;
                
              }
              .map-parent{
                display: flex;
                flex-direction: column;
              }
              .map-content{
                width: 70%;
              }
                
              .map-image{
                width: 100%;
                object-fit: contain;
              }
              .map-div{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                }
  }
  
@media(max-width:1025px) {
                // INFO
                .ltech-info{
                  width: 100%;
                  margin-top: 100px;
                  display: flex;
                  justify-content: center;
                  padding-left:30%;
                  padding-right: 30%;
                  align-items: center;
                  margin-bottom: 100px;
              }
              
              .fa-info{
                  font-size: 60px;
                  line-height: 50px;
                  border-radius: 50%;
                  padding: 25px;
                  transition: 0.5s;
              }
              
              .info-title{
                  font-family: Roboto;
                  font-size: 24px;
                  margin: 25px 0 0;
                  font-weight: 600;
                  margin-bottom: 20px;
              }
              
              .info-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                font-size: 20px;
              }
            
            // MAP
            .map-title{
              text-align: center;
              font-family: Roboto;
              font-size: 28px;
              line-height: 42px;
              
            }
            .map-parent{
              display: flex;
              flex-direction: column;
            }
            .map-content{
              width: 70%;
            }
              
            .map-image{
              width: 100%;
              object-fit: contain;
            }
            .map-div{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              }
  }
  
@media(max-width:948px) {
              // INFO
              .ltech-info{
                width: 100%;
                margin-top: 100px;
                display: flex;
                justify-content: center;
                padding-left:30%;
                padding-right: 30%;
                align-items: center;
                margin-bottom: 100px;
            }
            
            .fa-info{
                font-size: 60px;
                line-height: 50px;
                border-radius: 50%;
                padding: 25px;
                transition: 0.5s;
            }
            
            .info-title{
                font-family: Roboto;
                font-size: 18px;
                margin: 25px 0 0;
                font-weight: 600;
                margin-bottom: 20px;
            }
            
            .info-content{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: 100%;
              font-size: 14px;
            }
          
          // MAP
          .map-title{
            text-align: center;
            font-family: Roboto;
            font-size: 22px;
            line-height: 32px;
            
          }
          .map-parent{
            display: flex;
            flex-direction: column;
          }
          .map-content{
            width: 70%;
          }
            
          .map-image{
            width: 100%;
            object-fit: contain;
          }
          .map-div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            }
  }
  
@media(max-width:836px) {
          // INFO
          .ltech-info{
            width: 100%;
            margin-top: 100px;
            display: flex;
            justify-content: center;
            padding-left:30%;
            padding-right: 30%;
            align-items: center;
            margin-bottom: 100px;
        }
        
        .fa-info{
            font-size: 60px;
            line-height: 50px;
            border-radius: 50%;
            padding: 25px;
            transition: 0.5s;
        }
        
        .info-title{
            font-family: Roboto;
            font-size: 18px;
            margin: 25px 0 0;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .info-content{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          font-size: 14px;
        }
      
      // MAP
      .map-title{
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        line-height: 32px;
        
      }
      .map-parent{
        display: flex;
        flex-direction: column;
      }
      .map-content{
        width: 70%;
      }
        
      .map-image{
        width: 100%;
        object-fit: contain;
      }
      .map-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
  }
  
@media(max-width:751px) {
  .gear{
    display: none;
  }
          // INFO
          .ltech-info{
            width: 100%;
            margin-top: 100px;
            display: flex;
            justify-content: center;
            padding-left:100px;
            padding-right: 100px;
            align-items: center;
            margin-bottom: 100px;
        }
        
        .fa-info{
            font-size: 60px;
            line-height: 50px;
            border-radius: 50%;
            padding: 25px;
            transition: 0.5s;
        }
        
        .info-title{
            font-family: Roboto;
            font-size: 18px;
            margin: 25px 0 0;
            font-weight: 600;
            margin-bottom: 20px;
        }
        
        .info-content{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 80%;
          font-size: 14px;
        }
      
      // MAP
      .map-title{
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        line-height: 32px;
        
      }
      .map-parent{
        display: flex;
        flex-direction: column;
      }
      .map-content{
        margin:  0 auto;
        width: 70%;
      }
        
      .map-image{
        width: 100%;
        object-fit: contain;
      }
      .map-div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
  }
  
@media(max-width:641px) {
  .gear{
    display: none;
  }
        // INFO
        .ltech-info{
          width: 100%;
          margin-top: 100px;
          display: flex;
          justify-content: center;
          padding-left:100px;
          padding-right: 100px;
          align-items: center;
          margin-bottom: 100px;
      }
      
      .fa-info{
          font-size: 60px;
          line-height: 50px;
          border-radius: 50%;
          padding: 25px;
          transition: 0.5s;
      }
      
      .info-title{
          font-family: Roboto;
          font-size: 18px;
          margin: 25px 0 0;
          font-weight: 600;
          margin-bottom: 20px;
      }
      
      .info-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
        font-size: 14px;
      }
    
    // MAP
    .map-title{
      text-align: center;
      font-family: Roboto;
      font-size: 18px;
      line-height: 32px;
      
    }
    .map-parent{
      display: flex;
      flex-direction: column;
    }
    .map-content{
      width: 70%;
      margin:  0 auto;
    }
      
    .map-image{
      width: 100%;
      object-fit: contain;
    }
    .map-div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }
  }
  
@media(max-width:471px) {
  .product-category{
    width: 400px;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: Roboto;
    margin: 0 0 15px;
  }
        // INFO
        .ltech-info{
          width: 100%;
          margin-top: 100px;
          display: flex;
          justify-content: center;
          padding-left:100px;
          padding-right: 100px;
          align-items: center;
          margin-bottom: 100px;
      }
      
      .fa-info{
          font-size: 60px;
          line-height: 50px;
          border-radius: 50%;
          padding: 25px;
          transition: 0.5s;
      }
      
      .info-title{
          font-family: Roboto;
          font-size: 18px;
          margin: 25px 0 0;
          font-weight: 600;
          margin-bottom: 20px;
      }
      
      .info-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 95%;
        font-size: 14px;
      }
    
    // MAP
    .map-title{
      text-align: center;
      font-family: Roboto;
      font-size: 18px;
      line-height: 32px;
      
    }
    .map-parent{
      display: flex;
      flex-direction: column;
    }
    .map-content{
      margin:  0 auto;
      width: 70%;
    }
      
    .map-image{
      width: 100%;
      object-fit: contain;
    }
    .map-div{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }
  }
  
@media(max-width:426px) {
  .gear{
    display: none;
  }
      // INFO
      .ltech-info{
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        padding-left:100px;
        padding-right: 100px;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .fa-info{
        font-size: 60px;
        line-height: 50px;
        border-radius: 50%;
        padding: 25px;
        transition: 0.5s;
    }
    
    .info-title{
        font-family: Roboto;
        font-size: 18px;
        margin: 25px 0 0;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .info-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 95%;
      font-size: 14px;
    }
  
  // MAP
  .map-title{
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 32px;
    
  }
  .map-parent{
    display: flex;
    flex-direction: column;
  }
  .map-content{
    margin: 0 auto;
    width: 70%;
  }
    
  .map-image{
    width: 100%;
    object-fit: contain;
  }
  .map-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  }
  
@media(max-width:376px) {
  .product-category{
    width: 350px;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: Roboto;
    margin: 0 0 15px;
  }
      // INFO
      .ltech-info{
        width: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        padding-left:0;
        padding-right: 0;
        align-items: center;
        margin-bottom: 100px;
    }
    
    .fa-info{
        font-size: 60px;
        line-height: 50px;
        border-radius: 50%;
        padding: 25px;
        transition: 0.5s;
    }
    
    .info-title{
        font-family: Roboto;
        font-size: 18px;
        margin: 25px 0 0;
        font-weight: 600;
        margin-bottom: 20px;
    }
    
    .info-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 95%;
      font-size: 14px;
    }
  
  // MAP
  .map-title{
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 32px;
    
  }
  .map-parent{
    display: flex;
    flex-direction: column;
  }
  .map-content{
    width: 70%;
    margin:  0 auto;

  }
    
  .map-image{
    width: 100%;
    object-fit: contain;
  }
  .map-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  }
  
@media(max-width:321px) {
  .product-category{
    width: 320px;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-family: Roboto;
    margin: 0 0 15px;
  }
    // INFO
    .ltech-info{
      width: 100%;
      margin-top: 100px;
      display: flex;
      justify-content: center;
      padding-left:0;
      padding-right: 0;
      align-items: center;
      margin-bottom: 100px;
  }
  
  .fa-info{
      font-size: 60px;
      line-height: 50px;
      border-radius: 50%;
      padding: 25px;
      transition: 0.5s;
  }
  
  .info-title{
      font-family: Roboto;
      font-size: 18px;
      margin: 25px 0 0;
      font-weight: 600;
      margin-bottom: 20px;
  }
  
  .info-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    font-size: 14px;
  }

// MAP
.map-title{
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  line-height: 32px;
  
}
.map-parent{
  display: flex;
  flex-direction: column;
}
.map-content{
  margin:  0 auto;
  width: 70%;
}
  
.map-image{
  width: 100%;
  object-fit: contain;
}
.map-div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  }
  
@media(max-width:281px) {
  // INFO
  .ltech-info{
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    padding-left:0;
    padding-right: 0;
    align-items: center;
    margin-bottom: 50px;
}

.fa-info{
    font-size: 60px;
    line-height: 50px;
    border-radius: 50%;
    padding: 25px;
    transition: 0.5s;
}

.info-title{
    font-family: Roboto;
    font-size: 18px;
    margin: 25px 0 0;
    font-weight: 600;
    margin-bottom: 20px;
}

.info-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 95%;
  font-size: 14px;
}

// MAP
.map-title{
text-align: center;
font-family: Roboto;
font-size: 16px;
line-height: 32px;

}
.map-parent{
display: flex;
flex-direction: column;
}
.map-content{
  margin:  0 auto;
width: 70%;
}

.map-image{
width: 100%;
object-fit: contain;
}
.map-div{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.product-category{
  width: 280px;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: Roboto;
  margin: 0 0 15px;
}
  }
  





























