.dropLink{
    text-decoration: none;
    color: black;
    font-family:Roboto,sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
}
.droptitle{
    border-bottom: 3px solid #135CAE ;
    font-family:Roboto,sans-serif;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 2px;
    margin: 0 0 30px;
    font-weight: 700;    
}
.dropLink:hover{
    color: #135CAE;
    transition: all 0.3s;
}
.droplist{
    list-style: none;
    width: 100%;
}
.droplist li{
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 0;

}

// RESPONSIVES
//  DESTKOP && LAPTOPS
@media(max-width:3840px) {

}

@media(max-width:2560px) {

}

@media(max-width:1920px) {

}


// SMARTPHONES

@media(max-width:1441px) {

}

@media(max-width:1242px) {

}

@media(max-width:1125px) {

}

@media(max-width:1080px) {

}

@media(max-width:1025px){

}

@media(max-width:835px) {

}

@media(max-width:751px) {

}

@media(max-width:641px) {

}

@media(max-width:471px){

}

@media(max-width:426px){

}

@media(max-width:376px){

}

@media(max-width:321px){

}

@media(max-width:281px){

}