


.footer{
    // background-color: black;
    background-image: url('./images/Footerbg.jpg');
    background-color: rgba(38,45,56,0.67);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    // width: 100%;
    display: flex;
    justify-content:space-around ;
    object-fit: cover;
}

.contact-txt{
    // object-fit: contain;

    list-style:none;
    font-family: Roboto;
    margin: 0 0 9.8px;
    font-weight: 400;
    // color:#888888;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-txt li{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}
.contact_title{
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700px;
    line-height: 20.4px;
    letter-spacing: 1px;
    margin: 0 0 20px;
    box-sizing: border-box;
    display:flex;
    padding: 0.5rem;
    text-transform: uppercase;
}
.footLink{
    margin-top: 30px;
    display: flex;
    text-decoration: none;
    font-family: Roboto;
    margin: 0 0 9.8px;
    font-weight: 400;
    color:white;
    transition: 0.3s;
    font-size: 16px;

}
.link-foot h3{
    padding-top: 100px;
    border-bottom: 3px solid white;
    display: inline-block

}
.footlist{
    list-style:square;
}
.footlist li{
    color:white;

}
.contact-foot h3{
    padding-top: 100px;
    border-bottom: 3px solid white;
    display: inline-block

}
.about-foot h3{
    padding-top: 100px;
    border-bottom: 3px solid white;
    display: inline-block
}
.foot-about-content{
    // display: block;
    // width: 30%;
    list-style:none;
    font-family: Roboto;
    margin: 0 0 9.8px;
    font-weight: 400;
    color:white;
}
.about-foot{
    width: 30%;
    object-fit: contain;
    font-size: 16px;
}
.footLink:hover{
color: white;
}


// RESPONSIVES
//  DESTKOP && LAPTOPS
@media(max-width:3841px) {
    .footer{
        padding-bottom: 100px ;
        // justify-content: space-evenly;
        object-fit: contain;
    }
    .about-foot{
        width: 24%;
        font-size: 40px;
    
    }
    .contact_title{
        font-size: 40px;
        line-height: 50px;
    }
    
    .contact-txt li{
        font-size: 55px;
        line-height: 80px;
    }

    .footLink{
        font-size: 50px;
        line-height: 75px;
    }
    .foot-about-content{
        line-height: 65px;
    
    }
}

@media(max-width:2561px){
    .footer{
        padding-bottom: 100px ;
        // justify-content: space-evenly;
        object-fit: contain;
    }
    .about-foot{
        width: 24%;
        font-size: 25px;
    
    }
    .contact_title{
        font-size: 40px;
        line-height: 50px;
    }
    
    .contact-txt li{
        font-size: 25px;
        line-height: 55px;
    }
    
    .footLink{
        font-size: 30px;
        line-height: 40px;
    }

    .foot-about-content{
        list-style:none;
        font-family: Roboto;
        margin: 0 0 9.8px;
        font-weight: 400;
        color:white;
        line-height: 45px;
        
        }
}

@media(max-width:1921px) {
    .footer{
        padding-bottom: 100px ;
        // justify-content: space-evenly;
        object-fit: contain;
    }
    .about-foot{
        width: 30%;
        object-fit: contain;
        font-size: 16px;
    
    }
    .contact_title{
        color: white;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 700px;
        line-height: 20.4px;
        letter-spacing: 1px;
        margin: 0 0 20px;
        box-sizing: border-box;
        display:flex;
        padding: 0.5rem;
        text-transform: uppercase;
    }
    
    .contact-txt li{
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 16px;
        line-height: 25px;
    }
    
    .footLink{
        margin-top: 30px;
        display: flex;
        text-decoration: none;
        font-family: Roboto;
        margin: 0 0 9.8px;
        font-weight: 400;
        color:white;
        transition: 0.3s;
        font-size: 16px;
        line-height: 20px;
    }
    .foot-about-content{
    list-style:none;
    font-family: Roboto;
    margin: 0 0 9.8px;
    font-weight: 400;
    color:white;
    line-height: 30px;
    
    }

}
// SMARTPHONES

@media(max-width:1441px){
    .footer{
        padding-bottom: 100px ;
        object-fit: contain;
    }

    .about-foot{
        width: 40%;
        font-size: 18px;
    }


    .contact_title{
        font-size: 25px;
        line-height: 50px;
    }
    

    .contact-txt li{
        font-size: 18px;
    }
    

    .footLink{
        font-size: 18px;
    }


    .foot-about-content{
        line-height: 32px;
    
    }
}

@media(max-width:1242px) {
    .footer{
        padding-bottom: 100px ;
        object-fit: contain;
    }

    .about-foot{
        width: 40%;
        font-size: 18px;
    }


    .contact_title{
        font-size: 25px;
        line-height: 50px;
    }
    

    .contact-txt li{
        font-size: 18px;
    }
    

    .footLink{
        font-size: 18px;
    }


    .foot-about-content{
        line-height: 32px;
    
    }
}

@media(max-width:1080px) {
    .footer{
        padding-bottom: 100px ;
        object-fit: contain;
    }

    .about-foot{
        width: 40%;
        font-size: 18px;
    }


    .contact_title{
        font-size: 25px;
        line-height: 50px;
    }
    

    .contact-txt li{
        font-size: 18px;
    }
    

    .footLink{
        font-size: 18px;
    }


    .foot-about-content{
        line-height: 32px;
    
    }
}

@media(max-width:1025px){
    .footer{
        padding-bottom: 100px ;
        object-fit: contain;
        justify-content: space-between;
        align-items:flex-start;
        padding: 0 15px;
    }

    .about-foot{
        width: 45%;
        font-size: 16px;
    }


    .contact_title{
        font-size: 20px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 16px;
    }
    

    .footLink{
        font-size: 16px;
    }


    .foot-about-content{
        line-height: 25px;
    
    }
}

@media(max-width:835px) {
    .footer{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        // justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }

    .about-foot{
        width: 80%;
        font-size: 20px;
        
    }


    .contact_title{
        font-size: 30px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 25px;
        line-height: 50px;
    }
    

    .footLink{
        font-size: 25px;
    }


    .foot-about-content{
        line-height: 30px;

    }
}

@media(max-width:769px){
    .footer{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        // justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }

    .about-foot{
        width: 80%;
        font-size: 20px;
        
    }


    .contact_title{
        font-size: 30px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 25px;
        line-height: 50px;
    }
    

    .footLink{
        font-size: 25px;
    }


    .foot-about-content{
        line-height: 30px;

    }
}


@media(max-width:751px) {
    .footer{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        // justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }

    .about-foot{
        width: 80%;
        font-size: 20px;
        
    }


    .contact_title{
        font-size: 30px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 25px;
        line-height: 50px;
    }
    

    .footLink{
        font-size: 25px;
    }


    .foot-about-content{
        line-height: 30px;

    }
}

@media(max-width:641px) {
    .footer{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    }

    .about-foot{
        width: 87%;
        font-size: 16px;
        
    }


    .contact_title{
        font-size: 22px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 16px;
        line-height: 30px;
    }
    

    .footLink{
        font-size: 18px;
    }


    .foot-about-content{
        line-height: 30px;

    }
}

@media(max-width:471px){
    .footer{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    }

    .about-foot{
        width: 87%;
        font-size: 16px;
        
    }


    .contact_title{
        font-size: 22px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 16px;
        line-height: 30px;
    }
    

    .footLink{
        font-size: 18px;
    }


    .foot-about-content{
        line-height: 30px;

    }
}

@media(max-width:426px){
    .footer{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    }

    .about-foot{
        width: 87%;
        font-size: 16px;
        
    }


    .contact_title{
        font-size: 22px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 16px;
        line-height: 30px;
    }
    

    .footLink{
        font-size: 18px;
    }


    .foot-about-content{
        line-height: 30px;

    }
}

@media(max-width:376px){
    .footer{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        padding: 80px 0;
    }

    .about-foot{
        width: 87%;
        font-size: 16px;
        
    }


    .contact_title{
        font-size: 25px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 16px;
        line-height: 30px;
    }
    

    .footLink{
        font-size: 18px;
    }


    .foot-about-content{
        line-height: 30px;

    }
}

@media(max-width:321px){
    .footer{
        display: flex;
        flex-direction: column;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
    }

    .about-foot{
        width: 87%;
        font-size: 15px;
        text-align:left;
        
    }


    .contact_title{
        font-size: 20px;
        line-height: 40px;
    }
    

    .contact-txt li{
        font-size: 16px;
        line-height: 30px;
    }
    

    .footLink{
        font-size: 18px;
    }


    .foot-about-content{
        line-height: 30px;

    }
}





    

    

    


    

    

    






