*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_main{
    // background-color: #08256a;
    background: linear-gradient(#0c41be, #000046); 

    position: sticky;
    top: 0;
    // background-color: #021E37;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

.logo{
    width:100%;
    height: 12vh;
    // display: flex;
    // align-items: center;
    padding: 3px 0;
}
.link{
    text-decoration: none;
    color: white;
}
.main-logo-img{
    display: none;
}


.nav_links{
list-style: none;
display: flex;
gap: 20px;
line-height: 27.2px;
letter-spacing: 0.8px;
padding: 20px 0;
font-size: 16px;
font-weight: 500;
font-family: 'Open Sans', sans-serif;
}
.nav_links li{
    display: block;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.nav_links li:hover{
    background-color: #172554;
    transition: 0.5s;
}
.mobile_menu_icon{
    display: none;
}
// NAVBAR HEADING
.nav_head{
    display: flex;
    justify-content: space-evenly;

}
.head-logo{
    width:100%;
    height: 15vh;
    padding: 3px 0;
}
.cont-1{
    display: flex;
    gap: 40px;
}
.cont-2{
    display: flex;
    gap: 10px;
}

.contact{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
}
.txt{
    display: flex;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 23.04px;
    // color:#A3A8B2 ;
    font-size: 19.2px;
}
.icon-div{
    border: 1px solid #08256a;
    border-radius: 50%;
    background: linear-gradient(#0c41be, #000046); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon{
    color: white;
    font-size: 20px;
}


// NAV HEADING
@media (max-width: 693px){
    .cont-1{
        display: none;
    }
}

