*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.social-div-responsive{
    display: none;
}

// NAVBAR HEADING
.nav_head{
    display: flex;
    justify-content: space-evenly;

}
.head-logo{
    width:100%;
    height: 15vh;
    padding: 3px 0;
}
.cont-1{
    display: flex;
    gap: 40px;
}
.cont-2{
    display: flex;
    gap: 10px;
}

.contact{
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: black;
}
.txt{
    display: flex;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 23.04px;
    // color:#A3A8B2 ;
    font-size: 19.2px;
}

.fbicon{
    color: white;
    font-size: 30px;
}
.inicon{
    color: white;
    font-size: 30px;
}
.fbicon:hover{
    color: skyblue;
    transition: 0.5s ease-in-out;
}
.inicon:hover{
    color: orangered;
    transition: 0.5s ease-in-out;
}
.icon-div{
    border: 1px solid #08256a;
    border-radius: 50%;
    background: linear-gradient(#0c41be, #000046); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-icon{
    color: white;
    font-size: 20px;
}

// NAV MAIN
:root{
    --mainColor:#29335C;
    --mainColorLight: #5767aa;
    --secondaryColor: #DB2B39;
    --textColor:#eee;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0;
    background-color: var(--mainColor) ;
    color: var(--textColor);
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    list-style: none;
    padding: 0;
}

.link{
    margin: 0 20px;
    letter-spacing: 0.8px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color: var(--textColor);
}

.link:hover{
    color: var(--secondaryColor);
}
header .nav-btn{
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem ;
}
.logos{
    display: none;
}
.logos2{
    display: none;
}
@media (max-width: 1024px){
    .social-div{
       display: none; 
    }
    .social-div-responsive{
        display: flex;
    }
    .logos{
        width:150px;
        object-fit: contain;        
        display: flex;
        align-items: center;
        padding: 10px ;
    }
    .logos2{
        width:200px;
        object-fit: contain;        
        display: flex;
        align-items: center;
        // padding: 10px ;
    }

    header .nav-btn{
        visibility: visible;
        opacity: 1;
        
    }
    .nav-list{
        // position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100% ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
        list-style: none;
    }
    header nav { 
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100% ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav{
        transform: none;
    }
    
    nav .nav-close-btn{
        position:  absolute;
        top: 2rem;
        right: 2rem;
    }
    .link{
        font-size: 1.5rem;
    }

}

// NAV HEADING
@media (max-width: 693px){
    .cont-1{
        display: none;
    }
}

