
// RESPONSIVES
//  DESTKOP && LAPTOPS
@media(max-width:3841px) {
    .head-logo{
        width:100%;
        height: 17vh;
        padding: 10px 0;
    }

    .nav-icon{
        color: white;
        font-size: 55px;
    }

    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 50px;
        line-height: 50px;
    }

    .nav_main{
        background: linear-gradient(#0c41be, #000046);     
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }

    .nav_links{
        list-style: none;
        display: flex;
        gap: 20px;
        line-height: 27.2px;
        letter-spacing: 0.8px;
        padding: 45px 0;
        font-size: 35px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        
        }
}

@media(max-width:2561px) {
    .head-logo{
        width:100%;
        height: 17vh;
        padding: 10px 0;
    }

    .nav-icon{
        color: white;
        font-size: 45px;
        padding: 30px
    }

    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 30px;
        line-height: 50px;
    }

    .nav_main{
        background: linear-gradient(#0c41be, #000046);     
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }

    .nav_links{
        list-style: none;
        display: flex;
        gap: 20px;
        line-height: 27.2px;
        letter-spacing: 0.8px;
        padding: 25px 0;
        font-size: 25px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
        
    }
}

@media(max-width:1920px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 19.2px;
    }

    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 20px;
    }

    .nav_main{
        background: linear-gradient(#0c41be, #000046);     
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }

    .nav_links{
        list-style: none;
        display: flex;
        gap: 20px;
        line-height: 27.2px;
        letter-spacing: 0.8px;
        padding: 20px 0;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
    }
}
// SMARTPHONES

@media(max-width:1441px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 18px;
    }
    
    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 15px;
    }

    .nav_main{
        background: linear-gradient(#0c41be, #000046);     
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }

    .nav_links{
        list-style: none;
        display: flex;
        gap: 20px;
        line-height: 27.2px;
        letter-spacing: 0.8px;
        padding: 20px 0;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
    }
}

@media(max-width:1242px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 18px;
    }
    
    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 15px;
    }

    .nav_main{
        background: linear-gradient(#0c41be, #000046);     
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }

    .nav_links{
        list-style: none;
        display: flex;
        gap: 20px;
        line-height: 27.2px;
        letter-spacing: 0.8px;
        padding: 20px 0;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
    }
}

@media(max-width:1080px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 18px;
    }
    
    .icon-div{ 
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 15px;
    }

    .nav_main{
        background: linear-gradient(#0c41be, #000046);     
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }

    .nav_links{
        list-style: none;
        display: flex;
        gap: 20px;
        line-height: 27.2px;
        letter-spacing: 0.8px;
        padding: 20px 0;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
    }
}

@media(max-width:1025px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 18px;
    }
    
    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 15px;
    }

    .nav_main{
        background: linear-gradient(#0c41be, #000046);     
        position: sticky;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }

    .nav_links{
        list-style: none;
        display: flex;
        gap: 20px;
        line-height: 27.2px;
        letter-spacing: 0.8px;
        padding: 20px 0;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Open Sans', sans-serif;
    }
}

@media(max-width:948px) {

    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }
    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }
    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top: 71px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        // position: absolute;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        // top: 60px;
        margin-right: 20px;
    }

}

@media(max-width:836px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }
    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }
    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top: 88px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        // position: absolute;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        // top: 60px;
        margin-right: 20px;
    }
}

@media(max-width:751px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top: 71px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        margin-right: 20px;
    }
}

@media(max-width:641px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top: 70px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        margin-right: 20px;
    }
}

@media(max-width:471px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top: 70px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        margin-right: 20px;
    }
}

@media(max-width:426px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top: 70px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        margin-right: 20px;
    }
}

@media(max-width:376px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top:80px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        margin-right: 20px;
    }
}

@media(max-width:321px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top: 70px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        margin-right: 20px;
    }
}

@media(max-width:281px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 140%;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

    .nav_links{
        display: none;
    }

    .social{
        display: none;
    }

    .nav_links_mobile{
        border-top: 3px solid  #386adedc;
        position: absolute;
        display: block;
        list-style: none;
        background-color: #08256adc;
        left: 0;
        top: 70px;
        transition: all 0.5s ease-out;
        width: 100%;
        padding: 0 auto;
    }

    .link:hover{
        background-color: #172554;
        transition: 0.1s;
    }

    .link{
        font-size: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        // width: 104%;
        transition: all 0.5s ease;
    }

    .mobile_menu_icon{
        display: flex;
        font-size: 30px;
        color: white;
        border: none;
        background-color:transparent;
        outline: none;
        margin-right: 20px;
    }
}





    