
// RESPONSIVES
//  DESTKOP && LAPTOPS
@media(max-width:3841px) {
    .head-logo{
        width:100%;
        height: 17vh;
        padding: 10px 0;
    }

    .nav-icon{
        color: white;
        font-size: 55px;
    }

    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 50px;
        line-height: 50px;
    }

  
}

@media(max-width:2561px) {
    .head-logo{
        width:100%;
        height: 17vh;
        padding: 10px 0;
    }

    .nav-icon{
        color: white;
        font-size: 45px;
        padding: 30px
    }

    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 30px;
        line-height: 50px;
    }

 
}

@media(max-width:1920px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 19.2px;
    }

    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 20px;
    }


}
// SMARTPHONES

@media(max-width:1441px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 18px;
    }
    
    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 15px;
    }


}

@media(max-width:1242px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 18px;
    }
    
    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 15px;
    }


}

@media(max-width:1080px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 18px;
    }
    
    .icon-div{ 
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 15px;
    }


}

@media(max-width:1025px) {
    .head-logo{
        width:100%;
        height: 15vh;
        padding: 3px 0;
    }

    .txt{
        display: flex;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        line-height: 23.04px;
        // color:#A3A8B2 ;
        font-size: 18px;
    }
    
    .icon-div{
        border: 1px solid #08256a;
        border-radius: 50%;
        background: linear-gradient(#0c41be, #000046); 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-icon{
        color: white;
        font-size: 20px;
        padding: 15px;
    }


}

@media(max-width:948px) {

    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }
    .logo{
        width: 150px;
        object-fit: contain;        
        display: flex;
        align-items: center;
        padding: 3px 0;
    }
    .nav_head{
        display: none;
    }

  

}

@media(max-width:836px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }
    .logo{
        width: 150px;
        object-fit: contain;        
        display: flex;
        align-items: center;
        padding: 3px 0;
    }
    .nav_head{
        display: none;
    }

  
}

@media(max-width:751px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 150px;
        object-fit: contain;        
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

 
}

@media(max-width:641px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 100px;
        object-fit: contain;        
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

 
}

@media(max-width:471px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 100px;
        object-fit: contain;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }


}

@media(max-width:426px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 100px;
        object-fit: contain;        
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

 
}

@media(max-width:376px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 100px;
        object-fit: contain;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

 
}

@media(max-width:321px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 100px;
        object-fit: contain;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

  
}

@media(max-width:281px) {
    .main-logo-img{
        display: flex;
        margin: 0 auto;
    }

    .logo{
        width: 100px;
        object-fit: contain;
        display: flex;
        align-items: center;
        padding: 3px 0;
    }

    .nav_head{
        display: none;
    }

  
}





    